<% if (messages.updatedInfo.length > 0) { %>
<div class="alert alert-success my-3 text-center" role="alert">
  <%= messages.updatedInfo %>
</div>
<% } %>
<div class="profile--wrapper my-0">
  <div class="form--wrapper">
    <h1>Dashboard</h1>
    <p><%= numFollowed %></p>
    <% if (locals.user.username !== loggedInUser.username) { %>
    <form
      action="/<%= user.id %>/<%= loggedInUser.id %>"
      method="post"
      class="block-form"
    >
      <button class="btn btn-danger">
        <i class="fa fa-ban" aria-hidden="true"> Block user</i>
      </button>
    </form>

    <% if(numFollowed >= 1) { %>
    <form
      action="/unfollow/<%= user.id %>/<%= loggedInUser.id %>"
      method="post"
      class="unfollow-form"
    >
      <button class="btn btn-primary">Unfollow</button>
    </form>

    <% } else { %>
    <form
      action="/follow/<%= user.id %>/<%= loggedInUser.id %>"
      method="post"
      class="follow-form"
    >
      <button class="btn btn-primary">Follow</button>
    </form>
    <% } %> <% } %>
    <div class="profile--image"></div>
    <div class="profile--info">
      <form action="/<%= user.username %>/update" method="post">
        <div class="mb-3">
          <label for="fname" class="form-label">First name: </label>
          <input
            type="text"
            class="form-control"
            id="fname"
            name="fname"
            value="<%= user.firstname %>"
          />
        </div>
        <div class="mb-3">
          <label for="lname" class="form-label">Last name: </label>
          <input
            type="text"
            class="form-control"
            id="lname"
            name="lname"
            value="<%= user.lastname %>"
          />
        </div>
        <div class="mb-3">
          <label for="username" class="form-label">Username: </label>
          <input
            type="text"
            class="form-control"
            id="username"
            name="username"
            value="<%= user.username %>"
            disabled
          />
        </div>
        <% if (locals.user.username === loggedInUser.username) { %>
        <button type="submit" class="btn btn-primary">Update</button>
        <% } %>
      </form>
    </div>
  </div>
</div>
