<div class="detail-wrapper mt-5">
  <div
    class="left-container d-flex align-items-center justify-content-between w-100"
  >
    <div>
      <div>
        <h1 class="fs-1 title"><%= blog.title %></h1>
        <div class="actions">
          <form method="get" action="/blogs/<%= blog.id %>/remove">
            <button type="submit" class="btn btn-outline-danger">
              <i class="fa fa-trash" aria-hidden="true"></i>
            </button>
          </form>
          <form method="get" action="/blogs/<%= blog.id %>/edit-form">
            <button type="submit" class="btn btn-outline-primary">
              <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
            </button>
          </form>
        </div>
      </div>
      <p class="m-0">
        <div>
          <span class="postedBy">Posted by: <a href="/<%= blog.username %>/dashboard"><%= blog.username %></a> - <span class="timestamp" data-createdAt="<%= blog.createdat %>"></span></span>
        </div>
      </p>
    </div>
  </div>

  <div class="right-container mt-3"><%- blog.content %></div>
  <div class="like-dislike">
    <div class="d-flex">
      <form action="/blogs/<%= blog.id %>/like" method="POST">
        <button type="submit" class="btn btn-outline-secondary">
          <i class="fa fa-thumbs-up" aria-hidden="true"></i> <%=
          blog.like_count%>
        </button>
      </form>
      <form action="/blogs/<%= blog.id %>/dislike" method="post">
        <button type="submit" class="btn btn-outline-secondary">
          <i class="fa fa-thumbs-down" aria-hidden="true"></i> <%=
          blog.dislike_count %>
        </button>
      </form>
    </div>
  </div>
</div>
