<div class="detail-wrapper mt-5">
  <div
    class="left-container d-flex align-items-center justify-content-between w-100"
  >
    <div>
      <h1 class="fs-1">Details about article: <%= blog.title %></h1>
      <p class="m-0">
        <b>Created: </b>
        <span class="timestamp" data-createdAt="<%= blog.createdat %>"></span>
      </p>
    </div>
    <div class="actions">
      <form method="get" action="/blogs/<%= blog.id %>/remove">
        <button type="submit" class="btn btn-danger">Delete post</button>
      </form>
      <form method="get" action="/blogs/<%= blog.id %>/edit-form">
        <button type="submit" class="btn btn-primary">Edit post</button>
      </form>
    </div>
  </div>

  <div class="right-container mt-5"><%- blog.content %></div>
</div>
